/* Navbar */
header{
    background-color: blueviolet;
    /* position: sticky;
    top: 0;
    z-index: 2000;*/
    
} 
.sombra{
    box-shadow: 0px 9px 32px 2px rgba(0,0,0,0.53);
}

.bi{
    width: 32px;
    height: 32px;
}

/* Carousel */
.barra{
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 8px;
  height: 1px;
  transform: translateX(-5px)
}

.cont-carousel{
    position: absolute;
    top: 10%;
    left: 3.5%;
    width: 40%;
    height: 70%;
    max-width: 612px;
    /* background-color: blue; */
}

.btn-view{
    width: 60%;
    height: 60px;
    display: flex;
    /* border: 1px red solid; */
    align-items: center;
    justify-content: center;

}

.nosotros{
    text-align: justify;
    line-height: 2em;
}

.container-datos{
    width: 60%;
}

@media(max-width:768px){
  
}

@media(max-width:768px){
    .cont-carousel{
       /* position: absolute; */
       top: 4%;
       left: 3.5%;
       width: 29%;
       /* height: auto; */
       /* max-width: 600px; */
       /* background-color: blue; */
    }

    .navbar-brand{
        order: 2;
       }
    
       .navbar-toggler{
        order: 1;
       }
    
       .buscar{
        order: 3;
       }
}

